.transaction-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }
  
  .transaction-item {
    background-color: #242537;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  
  .transaction-details {
    justify-content: space-between;
  }
  
  .transaction-title {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .transaction-amount {
    font-size: 16px;
  }
  
  .transaction-amount.negative {
    color: red;
  }
  
  .transaction-amount.positive {
    color: green;
  }
  
  .transaction-date {
    font-size: 12px;
    color: #aaa;
  }