.custom-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(10, 14, 30);
    padding: 5px 0;
    color: white;
    height: 55px;
  }
  
  .footer-item {
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #aaa;
  }
  
  .footer-item span {
    margin-top: 5px;
    font-size: 10px;
  }
  
  .footer-item.active {
    color: #40a9ff; /* Change to active color */
  }
  
  .footer-item:hover {
    color: #1890ff;
  }
  