/* App.css */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-item-contnews1 {
  background-image: url(../assets/news1.jpg);
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.image-item-contnews2 {
  background-image: url(../assets/news2.jpg);
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.image-item-contnews3 {
  background-image: url(../assets/news3.jpg);
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.image-item-contnews4 {
  background-image: url(../assets/news4.jpg);
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}



.carousel .selected.slide {
  background-color: transparent !important;
}

.image-title {
  margin-top: 10px;
  font-size: 1em;
  text-align: center;
}

/* App.css */
.floating-numbers {
  position: relative;
  width: 300px;
  height: 60px;
  /* Adjust as needed */
  overflow: hidden;
  /* Ensure numbers don't overflow the container */
  margin: 0px auto -130px auto;
  z-index: 100;
}

.floating-number {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  opacity: 0;
  animation: float 1s ease-out forwards;
  pointer-events: none;
  /* Ensure floating numbers don’t interfere with clicks */
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
    /* Adjust the float distance as needed */
  }
}

/* Adjust styling for energy counter */
.energy-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.energy-container img {
  width: 30px;
  margin-right: 10px;
}

.energy-container p {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
}

.take_profit {
  background: linear-gradient(12deg, #151c2b, #ac1eb9);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  animation: growShrink 2s infinite ease-in-out;
}

.take_profit_out {
  background: linear-gradient(12deg, #151c2b, #ac1eb9);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

@keyframes growShrink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    /* Grow to 1.5x size */
  }

  100% {
    transform: scale(1);
    /* Back to original size */
  }
}

.bitcoin_button:active {
  transform: scale(1.2);
  width: 225px;
}