/* GoldCoinPromo.css */
.promo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: #2b2e43;
    border-radius: 10px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    max-width: 700px;
    width: 100%;
  }
  
  .promo-title {
    font-size: 34px;
    font-weight: bold;
    color: #C1A240; /* Golden color */
    margin-bottom: 0px;
    font-family: serif;
  }
  
  .promo-subtitle {
    font-size: 25px;
    font-weight: bold;
    color: #a0a95f9e;
    margin-bottom: 0px;
  }
  
  .promo-text {
    font-size: 1rem;
    text-align: center;
    max-width: 600px;
    margin-bottom: 20px;
    line-height: 20px;
  }
  
  .coin-container {
    margin: 20px;
  }
  
  .gold-coin-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
  